<div ng-controller="ArticlesController2" ng-init="initForC()" style="margin: 0 auto;">
    <h1 style="TEXT-ALIGN: center;">文章修改</h1>

    <div style="margin: 0, auto">
        <span>标题：</span><input id="title" type="text" ng-model="titleForC" readonly/><br/>
        <span>内容：</span><br/>

        <div id="epiceditor"  style="height:650px;margin: 0 auto;">
        </div>
        <div style="margin: 0, auto">
        <iframe src="" name="attach" style="display:none"></iframe>
        <hr/>
        <form method='post'  action='/articles/upload' enctype='multipart/form-data' target="attach">
            <fieldset >
                <legend>文件上传区:</legend>
                <table>
                    <tr>
                        <td>
                            文件:
                            <input type="file"  style="visibility:hidden;" name="file" style="" id="pdffile" onchange="var name = this.value; var index=name.lastIndexOf('\\'); name = name.substring(index+1);var src = '![]' + '(' + './images/' + name +')';$('#subfile').val(src);if (window.clipboardData){$('#copy').show();}" /><br/>
                            <div class="input-append">
                                <input type="text" name="subfile" id="subfile" class="input-xlarge">
                                <input type="button" name="copy" id="copy" class="btn btn-primary" value="复制地址" style="display: none;margin-right: 20px" onclick="var text = $('#subfile').val();  if (window.clipboardData){window.clipboardData.setData( 'Text' , text); };alert('已复制到剪贴板')"/>
                                <a class="btn btn-primary " onclick="$('#pdffile').click();">Browse</a>

                            </div>
                        </td>
                    </tr>

                    <tr><td><input btn btn-primary type="submit" name='sub' value="提交上传文件"/></td></tr>
                </table>
            </fieldset>
        </form>
        <hr/>
        <button class="btn btn-primary btn-large" ng-click="saveArticleForChange()">保存</button>
        <button ng-click="backList()" class="btn btn-large">取消</button>
        </div>
    </div>

</div>



