//
   Created with JetBrains WebStorm.
   User: new-worker
   Date: 13-12-25
   Time: 下午1:06
   To change this template use File | Settings | File Templates.

extends ../layouts/default

block content
    h1 #{header}